trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build
  jobs:
  - job: FirstJob
    steps:
    - bash: echo Build FirstJob
  - job: SecondJob
    steps:
    - bash: echo Build SecondJob

- stage: DevDeploy
  dependsOn: Build
  jobs:
  - job: DevDeploy
    steps:
    - bash: echo Build DevDeployJob

- stage: ProdDeploy
  dependsOn:
  - Build 
  - DevDeploy
  jobs:
  - job: ProdDeploy
    steps:
    - bash: echo Build ProdDeployJob


